{% extends "generic_base.html" %}

{% load static %}
{% load obj_dmp %}

{% block left_nav_items %}

<li class="nav-item">
    <a class="nav-link" href="/">Dashboard</a>
</li>

{% endblock %}

{% block right_nav_items %}

{% for navbar_client in clients_to_show_in_navbar %}

<li class="nav-item">
{% if navbar_client.id == client.id %}
    <a class="nav-link active" href="/clients/{{ navbar_client.id }}">{{ navbar_client.lastname }}</a>
    {% else %}
    <a class="nav-link" href="/clients/{{ navbar_client.id }}">{{ navbar_client.lastname }}</a>
    {% endif %}
</li>
{% endfor %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">More clients</a>

    <ul class="dropdown-menu">
        {% if more_clients %}
        {% for navbar_client in more_clients %}
        <li>
            <a class="dropdown-item" href="/clients/{{ navbar_client.id }}">
                <img src="{% static navbar_client.pfp_path %}">
            </a>
        </li>
        {% endfor %}
        {% endif %}
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" href="/clients">
                See all clients
            </a>
        </li>
    </ul>
</li>

{% endblock %}

{% block main %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

{% endblock %}